
NEXTAUTH_URL=http://localhost:3000
DATABASE_URL="mysql://root:root@localhost:8889/estuda"
NEXTAUTH_SECRET="gHCPt2ZDgxQuXRDnSFeR9gMDvHtGPNTj37/Md9dPB5M="
AUTH_TRUST_HOST=true
# Optional (for avatar in future)
CLOUDINARY_API_KEY=<CLOUDINARY_API_KEY>
CLOUDINARY_API_SECRET=<CLOUDINARY_API_SECRET>
CLOUDINARY_CLOUD_NAME=<CLOUD_NAME>
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=<CLOUD_NAME>
NEXT_PUBLIC_CLOUDINARY_UPLOAD_PRESET=<UPLOAD_PRESET>

STRIPE_SECRET_KEY=sk_test_...............
STRIPE_WEBHOOK_SECRET=whsec_..................
APP_BASE_URL=http://localhost:3000
DEMO_READONLY_EMAILS=demo.instructor@estuda.com,demo.admin@estuda.com,demo.student@estuda.com